<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1>天气：<%= weather %></h1>
    <h1>气温：<%= temp %></h1>
    <h1>提示：<%= tips %></h1>
    <h1>类型：<%= type %></h1>
    <h1>句子：<%= text %></h1>
    <img src="<%= imgUrl %>" />
  </body>
</html>
